<div class="section-dkblue">
  <section id="portfolio">
    <h2>Abhisek Kumar Gupta</h2>
    <article>
      <img src="../../assets/profile.jpg" />
      <div class="text">
        <h3>About me</h3>
        <p class="black-box">
          I've over 1 year experience as a software engineer in a Health Care
          startup. I love building things. While hard engineering problems are
          often intrinsically fun to tackle, I'm most attracted to solving real
          customer problems with a business justification, bringing ideas to
          life with code.
        </p>

        <h4>My favorite technologies include</h4>
        <ul>
          <li>Flutter</li>
          <li>Angular</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
    </article>
  </section>
</div>
