<div class="section-dkblue">
  <section id="portfolio">
    <h2>About Abhisek Kumar Gupta</h2>
    <article>
      <img src="../../assets/pathfindv.png" />
      <div class="text">
        <h3>Just the highlights</h3>
        <p class="black-box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          incidunt ratione alias earum consequuntur officiis ipsum adipisci
          dicta exercitationem blanditiis nostrum expedita cupiditate quisquam,
          deleniti a perspiciatis mollitia eaque eligendi, ut debitis qui aut
          tempora possimus. Dolorem veritatis quod eum magni iusto quia qui
          temporibus sit fugit, amet, recusandae aperiam!
        </p>

        <h4>My favorite technologies include</h4>
        <ul>
          <li>Flutter</li>
          <li>Angular</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
    </article>
  </section>
</div>
