<div class="section-dkblue">
  <section id="portfolio">
    <h2>Abhisek Kumar Gupta</h2>
    <article>
      <img src="assets/profile.jpg" />
      <div class="text">
        <h3>About me</h3>
        <p class="black-box">
          I've over 1 year experience as a software engineer in a Health Care
          startup. I love building things. While hard engineering problems are
          often intrinsically fun to tackle, I'm most attracted to solving real
          customer problems with a business justification, bringing ideas to
          life with code.
        </p>

        <h4>My favorite technologies include</h4>
        <ul>
          <li>Flutter</li>
          <li>Angular</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
    </article>
    <article class="reverse">
      <img src="assets/award1.jpeg" />
      <div class="text">
        <h3>Wow Award</h3>
        <p class="black-box">
          For taking complete charge of the development of GenVCare Cross
          Platform Mobile App thereby giving confidence to the leadership to
          meet upcoming customer commitments
        </p>
      </div>
    </article>
    <article>
      <img src="assets/award2.jpeg" />
      <div class="text">
        <h3>Wow Award</h3>
        <p class="black-box">
          For contributing to development of the mobile app single handedly and
          successful launch of GenVCare connected care Platform for Women's
          Health care.
        </p>
      </div>
    </article>
  </section>
</div>
