<div class="section-dkblue">
  <section id="projects">
    <h2>Projects that i worked on</h2>
    <article
      [ngClass]="{ reverse: i % 2 === 1 }"
      *ngFor="let item of items; let i = index"
    >
      <div class="text">
        <h4>Latest project</h4>
        <h3>{{ item.title }}</h3>
        <p class="black-box">
          {{ item.description }}
        </p>
        <h4>Technologies used</h4>
        <ul>
          <li *ngFor="let technologies of item.technologies">
            {{ technologies }}
          </li>
        </ul>
      </div>
      <img [src]="item.imageUrl" alt="Screenshot of the wall of wonder," />
    </article>
  </section>
</div>
