/* background color divs*/
.section-plum {
  background-color: var(--plum);
}
/* contact section */
#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}
#contact p:last-child {
  margin-top: 3rem;
}
