<nav>
  <ul>
    <li>
      <h1>
        <a routerLink="/">
          <span aria-hidden="true">
            <fa-icon [icon]="faUserSecret"></fa-icon>
          </span>
          <span>&nbsp;Abhisek Gupta</span>
        </a>
      </h1>
    </li>
    <li><a href="#projects">Projects</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a href="https://www.linkedin.com/in/akgmage/" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/akgmage" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faGithub"></fa-icon>
        </span>
        <span class="sr-only">Github</span>
      </a>
    </li>
    <li><a href="" class="button">Resume</a></li>
  </ul>
</nav>
