<nav>
  <ul>
    <li>
      <h1><a href="index.html">Abhisek Gupta</a></h1>
    </li>
    <li><a href="">Projects</a></li>
    <li><a href="">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a href="https://www.linkedin.com/in/akgmage/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/akgmage" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
    <li><a href="">Resume</a></li>
  </ul>
</nav>
