<footer>
  <h1>Abhisek Gupta &middot; Software Engineer</h1>
  <h4>Made with</h4>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/akgmage/" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faAngular"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="msilto:sdf@asd.asd" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faJs"></fa-icon>
        </span>
        <span class="sr-only">Email</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/akgmage" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faHtml5"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/akgmage" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faCss3"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
  </ul>
  <p>
    <small
      >&copy; {{ date | date: "yyyy" }} Abhisek Kumar Gupta. All rights
      reserved.</small
    >
  </p>
</footer>
