<footer>
  <h1>Abhisek Gupta &middot; Software Engineer</h1>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/akgmage/" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="msilto:sdf@asd.asd" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faMessage"></fa-icon>
        </span>
        <span class="sr-only">Email</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/akgmage" target="_blank">
        <span aria-hidden="true">
          <fa-icon [icon]="faGithub"></fa-icon>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
  </ul>
  <p><small>&copy; 2022 Abhisek Kumar Gupta. All rights reserved.</small></p>
</footer>
